body
{
  background-color: white;
  text-align: justify;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

@media all {

  .ArticleMainpage {width: 65%;}
  .AsideHomepage {width: 25%;}
  .articleHomepage {background-color: white;border : none lightblue 4px;margin: 3%;padding: 1%;overflow: hidden;}
  aside { background-color: whitesmoke;margin-top: 7%;margin-bottom: 7%; border: solid 8px slategrey;padding: 1%;}

}
@media all and (max-width: 1300px) {

  .ArticleMainpage {width: 65%;}
  .AsideHomepage {width: 25%;}
  .articleHomepage {background-color: white;border : none lightblue 6px;margin: 3%;padding: 1%;overflow: hidden;}
  aside { background-color: whitesmoke;margin-top: 15%;margin-bottom: 15%; border: solid 8px lightslategrey;padding: 1%;}


}
@media all and (max-width: 800px) {

  .ArticleMainpage {width: 100%; height: 30%; }
  .AsideHomepage {width: 100%; height: 30%;}
  .articleHomepage {background-color: white;border : none lightblue 8px;margin: 3%;padding: 1%;overflow: hidden;}
aside { background-color: whitesmoke;border: inset 8px lightblue;padding: 1%;}
}
aside
{
    overflow: hidden;
}

.pictureArticle
{
   float: left;
   max-height: 200px;
}

.picture_drawingOfTheDay
{
    margin: 1%;
    width: 250px;
    height: 250px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: justify;
}

div.ExtraParagraph
{
    display: none;
}
